<article>
	<h2>Welcome to Shamrock</h2>
	<p>This is the default homepage for Shamrock.  You can not edit this page and add others as needed.</p>
	<p>For more information about getting started and building with Shamrock, visit the <a href="https://github.com/dotrage/Shamrock/wiki">Shamrock Framework Documentation</a>.</p>
	Projects commonly used with Shamrock:
	<ul>
		<li><a href="http://www.doctrine-project.org/">Doctrine ORM</a></li>
		<li><a href="http://lesscss.org/">LESS CSS</a></li>
		<li><a href="https://github.com/dotrage/php-mysql">php-mysql</a></li>
		<li><a href="https://github.com/nicolasff/phpredis/">phpredis</a></li>
		<li><a href="http://code.google.com/p/recaptcha/downloads/list?q=label:phplib-Latest">reCAPTCHA PHP</a></li>
		<li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>		
	</ul>
</article>